* {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: sans-serif;
}

body {
      background-image: url(https://images7.alphacoders.com/721/721191.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      height:auto;
      width: 100%;
      max-width: 100%;
      font-family: "Source Sans Pro", sans-serif;
      position: relative;
      z-index: 1;
    }

	.logoMarron{
		margin-top:4rem;
		height: 250px;
		width: 250px;
		margin-left:14rem;
	}

	/*texto principal bajo el logo de kaffa*/
.titulo {
	color: rgb(206, 135, 28);
	font-family: "Source Sans Pro", sans-serif;
	font-size: 38px;
	text-shadow: 0.1em 0.1em 0.2em rgb(34, 34, 34);
}

/*subtitulo bajo el logo de kaffa*/
.subtitulo {
	color: rgb(255, 255, 255);
	font-family: "Source Sans Pro", sans-serif;
	font-size: 25px;
	margin-left:8rem;
}

/*texto al final de la imagen principal*/
.direccion {
	color: rgb(255, 255, 255);
	font-family: "Source Sans Pro", sans-serif;
	font-size: 20px;
	margin-left:14rem;
	text-shadow: 0.1em 0.1em 0.2em rgb(20, 20, 20);
	bottom: 0%;
	position: fixed;
}