<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Comercio de cafe." />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>kafa speciality coffe</title>
    <link rel="icon" href="../imagenes/favicon.jpg" />
    <link href="../style.css" type="text/css" rel="stylesheet" media />
</head>
<body>
    <div id="contenedorPrincipal">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" >
  <div class="container-fluid">
    <img src="../imagenes/logueo.jpg" alt="" id="imagennav">
        <a class="navbar-brand" href="index.html">    Inicio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="nosotros.html">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="servicios.html">Nuestros Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="reseñas">Reseñas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contactanos.html" tabindex="-1" aria-disabled="true">Contactanos</a>
        </li>
      </ul>
    </div>
    <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="login.html">Iniciar Sessión</a>
        </li>
    <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="usuario/registro.html">Registrarse</a>
        </li></div>  
</nav>
<img class="logoPrincipal" src="imagenes/principal.jpg" alt="principal">
                    <section class="textosHeader" >
                        <h1>kafa speciality coffe</h1>
                        <br>
                        <h2>LOS MEJORES SABORES DEL MUNDO</h2>
                        <p>
Cada café es una experiencia personal e inigualable. Kaffa se complace en invitarlo a que se deleite con las selecciones únicas de los mejores cafés del mundo..
Conozca el café hecho especialmente para usted</p>
                    </section>
                   
</body>
</html>