 <!DOCTYPE html>
 <html>
 <head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link href="../style.css" type="text/css" rel="stylesheet" media />
   <title></title>
 </head>
 <body>
  <section id="vistalogin">
        <form action="iniciarsesion.php"method="post">
              <div class="login-box">
                <img class="avatar" src="../imagenes/logueo.jpg" alt="logo">
                <h1>Iniciar session</h1>
                <form>
                <label for="usuario">Usuario</label>
                <input type="text" placeholder="Ingrese su usuario" id="usuario" name="usuario">
                <label for="password">Password</label>
                <input type="password" placeholder="Ingrese la contraseña" id="password" name="password">
              
              <input type="submit" name="Iniciar sesion" value="Iniciar sesión">
              <a href="#">Olvide mi contraseña</a><br>
              <a href="usuario/registro.html">No estoy registrado</a>
            </form>
            </form>
        </div>
    </section>
 
 </body>
 </html>
 
    